{% load django_bootstrap5 %}

{% if not fields_only %}
    <form action="{{ action_url }}" method="{{ form_method }}" enctype="{{ enctype }}">
        {% csrf_token %}
{% endif %}
        {% for error in form.non_field_errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}

        {% for field in form %}
            {% bootstrap_field field %}
        {% endfor %}

{% if not fields_only %}
        <br/>
        {% bootstrap_button button_type="submit" button_class="btn-secondary" content='Update' %}
    </form>
{% endif %}


