{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="card mb-3">
                <br>
                <p class="card-text"><small class="text-muted"><a href="{% url 'profile' post.author.pk %}">{{ post.author }}</a></small></p>
                {% if post.image %}
                    <img class="card-img-top" src="{{ post.image.url }}" alt="post picture">
                {% else %}
                    <img src="http://dummyimage.com/150" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <p>{{post.user_likes}}</p>
                    <a href="{% url 'like' post.pk %}">
                      {% values post.user_likes flat=True as post_users %}
                        <i class="{% if user.pk not in post_users %} bi-heart-fill {% else %} bi-heart {% endif %} bi like-btn"></i></a>
                    <p class="card-text">{{ post.description }}</p>
                </div>
                 <form class="d-flex" action="{% url 'create_comment' post.pk %}" method="post">
                     {%  csrf_token %}
                    <input name="comment" class="form-control me-2" type="text" placeholder="Comment">
                    <button class="btn btn-secondary" type="submit">Comment</button>
                </form>
                <div class="comment-list">
                    {% for comment in post.comments.all|dictsort:"created_at" %}
                        <div class="comment">
                            <div class="pre">{{ comment.text }}</div>
                            <p>{{ comment.author }} commented at {{ comment.created_at|date:'d.m.Y H:i:s' }}</p>
                        </div>
                    {% empty %}
                        <p>No comments yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}