{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
    <br>
    <h3>User's personal page </h3>
    <div class="container">
        <div class="row">
            <div class="col-3">
                {% if user_obj.avatar %}
                    <img class="avatar_img" src="{{ user_obj.avatar.url }}" alt="user picture">
                {% endif %}
            </div>
            <div class="col-7">
                <div class="row">
                    {% if perms.webapp.change_account or user_obj == request.user %}
                    <form action="{% url 'subscribe' user_obj.pk %}" method="post">
                         {% csrf_token %}
                        <span>{{ user_obj.username }}</span>
                        <input type="submit" class="btn btn-secondary" value="Subscribe">
                    </form>
                    {% endif %}
                </div>
                <div class="row">
                    <p class="col"> Posts: {{user_obj.posts.count}}</p>
                    <p class="col"> Subscriptions: {{user_obj.count_subscriptions}}</p>
                    <p class="col"> Subscribers: {{user_obj.count_subscribers}}</p>
                </div>
                <p>User name: {{ user_obj.username }}</p>
                <p>First name: {{ user_obj.first_name }}</p>
                <p>Description: {{ user_obj.description }}</p>
            </div>
            <form action="{% url 'change' user_obj.pk %}" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                <input type="submit" class="btn btn-secondary" value="Change">
            </form>
        </div>

        <h3 class="text-center clear">Posts:</h3>
        {% include 'partial/posts_list.html' %}
    </div>

{% endblock %}