{% extends 'base.html' %}

{% block title %} Update profile {% endblock %}

{% block content %}
    <h3>Change personal data</h3>
    <form action="{% url 'change' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/form.html' with form=form fields_only=True %}
        {% include 'partial/form.html' with form=profile_form fields_only=True %}
        <br>
        <input type="submit" class="btn btn-secondary" value="Update">
    </form>
{% endblock %}

