{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block content %}
    <br>
    <div class="container">
        {% for post in posts%}
            <div class="row justify-content-md-center">
                <div class="col-8">
                    <div class="card mb-3">
                        <p class="card-text"><small class="text-muted"><a href="{% url 'profile' post.author.pk %}">{{ post.author }}</a></small></p>
                        {% if post.image %}
                            <a href="{% url 'post' post.pk %}"><img class="card-img-top" src="{{ post.image.url }}" alt="post picture"></a>
                        {% else %}
                            <img src="..." class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'like' post.pk %}"><i class="bi bi-heart"></i></a>
                            <p class="card-text">{{ post.description }}</p>
                        </div>
                         <form class="d-flex" action="{% url 'create_comment' post.pk %}" method="post">
                             {%  csrf_token %}
                            <input name="comment" class="form-control me-2" type="text" placeholder="Comment">
                            <button class="btn btn-secondary" type="submit">Comment</button>
                        </form>
                        <div class="comment-list">
                            {% for comment in post.comments.all|dictsortreversed:"created_at" %}
                                <div class="comment">
                                    <div class="pre">{{ comment.text }}</div>
                                    <p>{{ comment.author }} commented at {{ comment.created_at|date:'d.m.Y H:i:s' }}</p>
                                </div>
                            {% empty %}
                                <p>No comments yet.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}