{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block navbar %}
    {% include 'partial/search.html' %}
{% endblock %}

{% block content %}

    <div class="container">
        {% for post in posts%}
            <p>Author - {{ post.author }}</p>
            {% if user_obj.avatar %}
                <img class="avatar_img" src="{{ post.image }}" alt="post picture">
            {% endif %}
            <h2>description - {{ post.description }}</h2>
        {% endfor %}
    </div>

{% endblock %}